{% extends "website/base.html" %}
{% load static %}
{% load website_extras %}

{% block head %}
    {{ block.super }}
    <title> {{ anime_details.name }} at Gogoanime</title>

    <style>
        html, body {
            font-size: 13px;
            font-family: myFirstFont, MyFont_IE, Tahoma, Geneva, sans-serif;
        }
        #content, .left-panels, .right-panels {
            background-color: #1b1b1b;
        }
        .left-panels {
            float: left;
            width: 728px;
            padding-left: 30px;
            padding-top: 10px
        }
        .right-panels {
            float: right;
            width: 340px;
            padding-right: 30px;
            padding-top: 10px;
        }
        .all-headers {
            background-color: #ffc119;
            height: 40px;
            position: relative;
        }
        .header-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            font-size: 14px;
            text-transform: uppercase;
        }
        .heading-info {
            text-transform: uppercase;
            font-size: 14px;
            color: #ffc119;
        }
        .info-category {
            color: #00a651;
            font-size: 12px;
        }
        .info a {
            text-decoration: none;
            color: #fff;
            font-size: 13px;
        }
        .plain-text {
            font-size: 12px;
            color: #fff;
        }
        #content-box {
            padding-right: 20px;
        }
        h2 {
            width: 100%;
            clear: both;
            text-transform: uppercase;
            font-size: 14px;
            color: #ffc119;
        }
        .info {
            margin: 8px 0;
        }
        .separator {
            margin-bottom: 26px;
        }
        .related-episodes {
            padding-left: 0;
        }
        .related-episodes a {
            text-decoration: none;
            color: #fff;
            font-size: 13px;
        }
        .related-episodes .name {
            float: left;
            width: 60%;
            padding: 8px 0;
            font-size: 11px;
        }
        .related-episodes .lang {
            float: right;
            color: #737373;
            padding: 8px 0;
            font-size: 11px;
        }
        .related-episodes li:nth-child(7n+1) {
            margin-left: 0;
        }
        .related-episodes li {
            float: left;
            position: relative;
            list-style: none;
            margin: 5px 0;
            margin-left: 1.5%;
            width: 13%;
        }
        .related-episodes li a {
            color: #fff;
            display: block;
            background-color: #363636;
            width: 100%;
            float: left;
            padding: 0 8px;
        }
        .related-episodes li a:hover {
            background-color: #ffc119;
        }
        .info a:hover {
            color: #ffc119;
        }
        #seasons-navbar ul {
            margin: 0;
            padding: 0;
        }
        #seasons-navbar ul li {
            list-style: none;
            padding: 2px 0;
            color: #ffc119;
        }
        #seasons-navbar ul li a {
            color: #ffc119;
            text-align: left !important;
            white-space: nowrap;
            overflow: hidden;
            text-decoration: none;
        }
        #seasons-navbar ul li a:hover {
            color: #fff;
        }
        .recent-release li {
            list-style: none;
        }
        .recent-release li a {
            color: #ffc119;
            text-align: left;
            text-decoration: none;
        }
        .recent-release li a:hover {
            color: #fff;
        }
    </style>
{% endblock %}

{% block body %}
    <section id="content" style="width: 100%; float: left;">

        <section id="content-box" class="left-panels">

            <div id="anime-info-box" class="separator">
                <div id="anime-info-header" class="all-headers">
                    <h2 id="anime-info-nav" class="header-nav">
                        Anime INFO
                    </h2>
                </div>
                <div id="anime-info-content" class="border-bottom border-start border-end" style="width: 100%; padding-top: 20px;">
                    <div id="anime-info">
                        <img src="{% static 'website/placeholderimage.png' %}" alt="Anime Poster" width="320px" style="float: left; padding-right: 15px; margin-left: 20px">
                        <div style="margin-right: 20px;">
                            <h1 class="heading-info">{{ anime_details.name }}</h1>
                            <div style="padding: 5px"></div>
                            <p class="info"><span class="info-category">Type: </span><a href="/sub-category/{% namebuilder anime_details.type.type %}">{{ anime_details.type.type }}</a></p>
                            <p class="info"><span class="info-category">Plot Summary: </span><div class="plain-text">{{ anime_details.summary }}</div></p>
                            <p class="info"><span class="info-category">Genre: </span>
                                {% for genre in genres %}
                                    {% if forloop.revcounter0 == 0 %}
                                        <a href="/genre/{% namebuilder genre.genre.genre %}">{{ genre.genre.genre }}</a>
                                    {% else %}
                                        <a href="/genre/{% namebuilder genre.genre.genre %}">{{ genre.genre.genre }}, </a>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p class="info"><span class="info-category">Season: </span><a>{{ anime_details.released.year.year }}</a></p>
                            <p class="info"><span class="info-category">Status: </span><a>{{ anime_details.status.status }}</a></p>
                            <p class="info"><span class="info-category">Other Names: </span><span class="plain-text">{{ anime_details.other_names }}</span></p>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div style="margin: 0 20px;">
                        <h2 style="margin: 20px 0; margin-bottom: 10px; width: 95%; padding-bottom: 5px; border-bottom: solid 1px #000;">
                            {{ anime_details.name }}</h2>
                    </div>
                    <div style="padding: 0 20px 20px 20px; overflow: hidden;">
                        <ul class="related-episodes">
                            {% for episode in episodes %}
                                <li>
                                    <a href="/{% episodebuilder episode.anime.name_slug episode.name %}">
                                        <div class="name"> EP {{ episode.name|split }} </div>
                                        <div class="lang"> {{ episode.anime.lang.lang }} </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </section>

        <section class="right-panels">

            <div id="advertisement-box" class="separator">

                <div id="advertisement-box-header" class="all-headers" style="width: 300px;">
                    <h2 id="advertisement-box-nav" class="header-nav">
                        <span>ADVERTISEMENT</span>
                    </h2>
                </div>
                <div id="advertisement-box-content" class="border-bottom border-start border-end" style="width: 300px; height: 250px;">
                    <img src="{% static 'website/ad-banner.jpg' %}" alt="Ad Banner" width="300px" height="250px">
                </div>

            </div>

            <div id="recent-release-box" class="separator">
                <div id="recent-release-header" class="all-headers">
                    <h2 id="recent-release-nav" class="header-nav">
                        <span style="text-transform: uppercase;">Recent Release</span>
                    </h2>
                </div>
                <div id="recent-release-content" class="border-bottom border-start border-end" style="height: 1000px !important; overflow: hidden; overflow-y: auto; padding-top: 10px;">
                    <ul class="recent-release">
                        {% for episode in latest_episodes %}
                            <li>
                                <a href="/{% episodebuilder episode.anime.name_slug episode.name %}">
                                    {{ episode.anime.name }}
                                </a>
                                <a href="/{% episodebuilder episode.anime.name_slug episode.name %}"> <p style="color: #fdfcfc; font-size: 12px;"> {{ episode.name }} </p> </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="recent-seasons-box" class="separator">

                <div id="recent-seasons-header" class="all-headers" style="width: 300px;">
                    <h2 id="recent-seasons-nav" class="header-nav">
                        <span>SEASON</span>
                    </h2>
                </div>
                <div id="recent-seasons-content" class="border-bottom border-start border-end" style="padding: 10px 0; width: 300px;">
                    <nav id="seasons-navbar" style="padding-left: 14px;">
                        <ul>
                            {% regroup seasons by year as seasons_list %}
                            {% for season in seasons_list|slice:":11" %}
                                <li>
                                    <span style="color:#898989;">Anime {{ season.grouper.year }}:</span>
                                    {% for item in season.list %}
                                        {% if forloop.revcounter0 == 0 %}
                                            <a style="display: inline;" href="/sub-category/{% season_tag item.season season.grouper.year %}" title="Season Anime">{{ item.season }}</a>
                                        {% else %}
                                            <a style="display: inline;" href="/sub-category/{% season_tag item.season season.grouper.year %}">{{ item.season }}</a> |
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>

            </div>

        </section>

    </section>
{% endblock %}
