{% extends "website/base.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <title>Gogoanime - Watch anime online HD</title>
    <style>

        html, body {
            font-size: 13px;
            font-family: myFirstFont, MyFont_IE, Tahoma, Geneva, sans-serif;
        }
        #content, .left-side-panels, .right-side-panels {
            background-color: #1b1b1b;
        }
        .left-side-panels {
            float: left;
            width: 68%;
            padding: 10px;
        }
        .right-side-panels {
            float: right;
            width: 340px;
            padding-right: 30px;
            padding-top: 10px;
        }
        .all-headers {
            background-color: #ffc119;
            height: 40px;
            position:relative;
        }
        .header-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            font-size: 14px;
        }
        #recent-release-nav a {
            text-decoration: none;
            color: #FFF;
        }
        .header-pagination {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
        }
        .separator {
            margin-bottom: 26px;
        }
        ul.items {
            margin-top: 20px;
        }
        ul.items li:nth-child(4n+1) {
            margin-left: 0;
        }
        ul.items li {
            float: left;
            position: relative;
            margin-left: 1.8867%;
            width: 22.6%;
            height: 270px;
            text-align: center;
            list-style: none;
            margin-bottom: 25px;
            vertical-align: top;
        }
        ul.items li .img a {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        ul.items li .img img {
            width: 100%;
            max-width: 100%;
            height: 217px;
        }
        ul.items li p.anime-name a {
            text-decoration: none;
            color: #ffc119;
            font-size: 13px;
            font-family: mySecondFont;
        }
        ul.items li p.anime-name a:hover {
            color: #fff;
        }
        #popular-ongoing-updates-content ul li:nth-child(2n+1) {
            border-right: solid 1px #555;
            clear: both;
        }
        #popular-ongoing-updates-content ul li {
            float: left;
            list-style: none;
            width: 50%;
            overflow: visible;
            height: auto;
            padding: 10px 0;
        }
        .thumbnail {
            width: 90px;
            height: 94px;
            background-size: 100% auto !important;
            background-repeat: repeat !important;
            float: left;
            margin-right: 16px;
            margin-left: 18px;
        }
        #popular-ongoing-updates-content ul li a {
            text-decoration: none;
            padding-left: 0;
            white-space: normal;
            padding-bottom: 10px;
            font-size: 13px;
            color: #ffc119;
            overflow: hidden;
        }
        #popular-ongoing-updates-content ul li p.genres {
            padding-top: 4px !important;
        }
        #popular-ongoing-updates-content ul li p {
            padding: 0;
            margin: 0;
            color: #898989;
        }
        #popular-ongoing-updates-content ul li p.genres a {
            color: #898989;
            font-size: 13;
        }
        #popular-ongoing-updates-content ul li a:hover {
            color: #fff;
        }
        .anime-name a:hover {
            color: #fff;
        }
        #popular-ongoing-updates-content ul li .latest_episode a {
            color: #fff;
        }
        #popular-ongoing-updates-content ul li .latest_episode a:hover {
            color: #ffc119;
        }
        #popular-ongoing-updates-content ul li .genres a:hover {
            color: #ffffff;
        }
        #recently-added-series-content ul li:nth-child(2n+1) {
            border-right: solid 1px #555;
        }
        #recently-added-series-content ul li {
            float: left;
            list-style: none;
            width: 50%;
            overflow: visible;
            height: auto;
            padding: 10px 0;
        }
        #recently-added-series-content ul li a {
            text-decoration: none;
            color: #ffc119;
        }
        #recently-added-series-content ul li a:hover {
            color: #ffffff;
        }
        #top-rated-episodes-content ul {
            margin-bottom: 0;
            list-style: none;
            padding-left: 0;
        }
        #top-rated-episodes-content ul li a {
            text-decoration: none;
        }
        #top-rated-episodes-content ul li a p {
            margin: 2px 0;
        }
        #top-rated-episodes-content ul li a {
            color: #ffc119;
        }
        #top-rated-episodes-content ul li a .released {
            margin-left: 17px;
            color: #fff;
        }
        #top-rated-episodes-content ul li a:hover {
            color: #fff;
        }
        #top-rated-episodes-content ul li {
            float: left;
            width: 100%;
        }
        #ongoing-series-content ul {
            padding-left: 14px;
        }
        #ongoing-series-content ul li {
            list-style: none;
        }
        #ongoing-series-content::-webkit-scrollbar {
            display: none;
        }
        #ongoing-series-content ul li a {
            text-decoration: none;
            color: #ffc119;
        }
        #ongoing-series-content ul li a:hover {
            color: #fff;
        }
        #genres-content ul {
            padding: 9px 0;
            float: left;
            width: 100%;
        }
        #genres-content ul li:nth-child(2n+1) {
            border-right: solid 1px #555;
        }
        #genres-content ul li {
            float: left;
            list-style: none;
            width: 50%;
            padding: 4px 14px;
        }
        #genres-content ul li a {
            text-decoration: none;
            color: #ffc119;
        }
        #genres-content ul li a:hover {
            color: #fff;
        }
        #seasons-navbar ul {
            margin: 0;
            padding: 0;
        }
        #seasons-navbar ul li {
            list-style: none;
            padding: 2px 0;
            color: #ffc119;
        }
        #seasons-navbar ul li a {
            color: #ffc119;
            text-align: left !important;
            white-space: nowrap;
            overflow: hidden;
            text-decoration: none;
        }
        #seasons-navbar ul li a:hover {
            color: #fff;
        }
    </style>
{% endblock %}

{% block body %}
    <section id="content" style="width: 100%; float: left;">

        <section class="left-side-panels">


            <div id="recent-release" class="left-elements separator">

                <div id="recent-release-header" class="all-headers">
                    <h2 id="recent-release-nav" class="header-nav">
                        <a href="">RECENT RELEASE</a>
                        <span style="padding: 0 10px;">|</span>
                        <a href="">DUB</a>
                        <span style="padding: 0 10px;">|</span>
                        <a href="">CHINESE DUB</a>
                    </h2>
                    <div id="recent-release-pagination" class="header-pagination">
                        Pagination
                    </div>
                </div>
                <div id="recent-release-content" class="border-bottom border-start border-end" style="display: flex; flex-direction: column;">
                    <ul class="items">
                        {% for episode in latest_episodes %}
                            <li>
                                <div class="img">
                                    <a href="/slug">
                                        <img src="{% static 'website/anime_banner.png' %}">
                                    </a>
                                </div>
                                <p class="anime-name" style="position: relative; padding-top: 8px; margin-bottom: 5px;">
                                    <a href="/slug">{{ episode.anime.name }}</a>
                                </p>
                                <p class="episode" style="margin-bottom: 0;">
                                    {{ episode.name }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

            <div id="popular-ongoing-updates" class="separator">

                <div id="popular-ongoing-updates-header" class="all-headers">
                    <h2 id="popular-ongoing-updates-nav" class="header-nav">
                        <span>POPULAR ONGOING UPDATE</span>
                    </h2>
                    <div id="popular-ongoing-updates-pagination" class="header-pagination">
                        Pagination
                    </div>
                </div>
                <div id="popular-ongoing-updates-content" class="border-bottom border-start border-end" style="display: flex; flex-direction: column; padding-top: 20px; padding-bottom: 20px;">

                    <ul style="margin: 0; padding-left: 0;">
                        {% for item in popular_anime %}

                            <li>
                                <a href="/slug" title="Anime Name">
                                    <div class="thumbnail" style="background: url({% static 'website/anime_banner.png' %});"></div>
                                </a>
                                <a href="/slug" title="Anime Name"> Anime Name </a>
                                <p class="genres"> Genres:
                                    {% for genre in item.genres %}
                                        {% if forloop.revcounter0 == 0 %}
                                            <a href="/slug">{{ genre }}</a>
                                        {% else %}
                                            <a href="/slug">{{ genre }}, </a>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <p class="latest_episode"> Latest:
                                    <a href="/slug"> Episode {{ item.latest_episode }} </a>
                                </p>
                            </li>

                        {% endfor %}
                    </ul>

                </div>

            </div>

            <div id="recently-added-series" class="left-elements separator">

                <div id="recently-added-series-header" class="all-headers">
                    <h2 id="recently-added-series-nav" class="header-nav">
                        <span>RECENTLY ADDED SERIES</span>
                    </h2>
                </div>
                <div id="recently-added-series-content" class="border-bottom border-start border-end" style="display: flex; flex-direction: column; padding-top: 20px; padding-bottom: 20px;">

                    <ul style="margin: 0; padding-left: 0;">
                        {% for item in recently_added %}

                            <li style="padding: 5px 20px;">
                                <a href="/slug" title="Anime Name"> {{ item }} </a>
                            </li>

                        {% endfor %}
                    </ul>

                </div>

            </div>

        </section>


        <section class="right-side-panels">


            <div id="advertisement-box" class="separator">

                <div id="advertisement-box-header" class="all-headers" style="width: 300px;">
                    <h2 id="advertisement-box-nav" class="header-nav">
                        <span>ADVERTISEMENT</span>
                    </h2>
                </div>
                <div id="advertisement-box-content" class="border-bottom border-start border-end" style="width: 300px; height: 250px;">
                    <img src="{% static 'website/ad-banner.jpg' %}" alt="Ad Banner" width="300px" height="250px">
                </div>

            </div>

            <div id="top-rated-episodes" class="separator">

                <div id="top-rated-episodes-header" class="all-headers" style="width: 300px;">
                    <h2 id="top-rated-episodes-nav" class="header-nav">
                        <span>TOP RATED EPISODES</span>
                    </h2>
                </div>
                <div id="top-rated-episodes-content" class="border-bottom border-start border-end" style="display: flex; flex-direction: column; padding: 14px 14px; width: 300px;">
                    <ul>
                        {% for item in top_anime %}

                            <li>
                                <a href="/slug" title="Anime Name">
                                        <span style="color: #ffc119;"> {{ forloop.counter }}. </span>
                                        {{ item.name }}
                                    <p class="released">Episode: {{ item.episode }}</p>
                                </a>
                            </li>

                        {% endfor %}
                    </ul>
                </div>

            </div>

            <div id="ongoing-series" class="separator">

                <div id="ongoing-series-header" class="all-headers" style="width: 300px;">
                    <h2 id="ongoing-series-nav" class="header-nav">
                        <span>ONGOING SERIES</span>
                    </h2>
                </div>
                <div id="ongoing-series-content" class="border-bottom border-start border-end" style="width: 300px; height: 600px; overflow-y:scroll;">

                    <div style="padding-top: 10px;">
                        <ul>

                            {% for item in ongoing %}
                                <li> <a href="/slug"> {{ item.name }} </a> </li>
                            {% endfor %}

                        </ul>
                    </div>

                </div>

            </div>

            <div id="genres" class="separator">

                <div id="genres-header" class="all-headers" style="width: 300px;">
                    <h2 id="genres-nav" class="header-nav">
                        <span>GENRES</span>
                    </h2>
                </div>
                <div id="genres-content" class="border-bottom border-start border-end" style="width: 300px; display: flex; flex-direction: column; padding-top: 10px;">
                    <ul>

                        {% for genre in genres %}

                            <li>
                                    <a href="/slug" title="Genre"> {{ genre.genre }} </a>
                            </li>

                        {% endfor %}

                    </ul>
                </div>

            </div>

            <div id="recent-seasons" class="separator">

                <div id="recent-seasons-header" class="all-headers" style="width: 300px;">
                    <h2 id="recent-seasons-nav" class="header-nav">
                        <span>SEASON</span>
                    </h2>
                </div>
                <div id="recent-seasons-content" class="border-bottom border-start border-end" style="padding: 10px 0; width: 300px;">
                    <nav id="seasons-navbar" style="padding-left: 14px;">
                        <ul>
                            {% for key, values in seasons.items %}
                                <li>
                                    <span style="color:#898989;">Anime {{ key }}:</span>
                                    {% for value in values %}
                                        {% if forloop.revcounter0 == 0 %}
                                            <a style="display: inline;" href="/slug" title="Season Anime">{{ value }}</a>
                                        {% else %}
                                            <a style="display: inline;" href="/slug" title="Season Anime">{{ value }}</a> |
                                        {% endif %}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                            {% regroup seasons by year as seasons_list %}
                                {% for item in seasons_list %}
                                    {{ item }}
                                    <br>
                                {% endfor %}
                        </ul>
                    </nav>
                </div>

            </div>


        </section>

    </section>

{% endblock %}
