{% extends "website/base.html" %}

{% block head %}
    {{ block.super }}
    <title>Gogoanime - Watch anime online HD</title>
    <style>

        #content, .left-side-panels, .right-side-panels {
            background-color: #1b1b1b;
        }
        .left-side-panels {
            float: left;
            width: 68%;
        }
        .right-side-panels {
            float: right;
            width: 30%;
        }
        .all-headers {
            background-color: #ffc119;
            height: 40px;
            position:relative;
        }
        .header-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            font-size: 14px;
        }
        #recent-release-nav a {
            text-decoration: none;
            color: #FFF;
        }
        .header-pagination {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
        }

    </style>
{% endblock %}

{% block body %}
    <section id="content">

        <section class="left-side-panels">


            <div id="recent-release" class="left-elements">

                <div id="recent-release-header" class="all-headers">
                    <h2 id="recent-release-nav" class="header-nav">
                        <a href="">RECENT RELEASE</a>
                        <span style="padding: 0 10px;">|</span>
                        <a href="">DUB</a>
                        <span style="padding: 0 10px;">|</span>
                        <a href="">CHINESE DUB</a>
                    </h2>
                    <div id="recent-release-pagination" class="header-pagination">
                        Pagination
                    </div>
                </div>
                <div id="recent-release-content" class="border-bottom border-start border-end">
                    Main Content sdlkfksdjg;lzdfkgmd
                    dfg;kdfkhgmdfkmgdsf
                    gnfgkldfnhlkdflhkndf
                    hdglnhkdfjsdggggggg
                </div>

            </div>

            <div id="popular-ongoing-updates">

                <div id="popular-ongoing-updates-header" class="all-headers">
                    <h2 id="popular-ongoing-updates-nav" class="header-nav">
                        <span>POPULAR ONGOING UPDATE</span>
                    </h2>
                    <div id="popular-ongoing-updates-pagination" class="header-pagination">
                        Pagination
                    </div>
                </div>
                <div id="popular-ongoing-updates-content" class="border-bottom border-start border-end">
                    Popular Anime Episode Updates
                    sdgsdgsfgdgdhfghfg
                    dfg;kdfkhgmdfkmgdsf
                    gnfgkldfnhlkdflhkndf
                    hdglnhkdfjsdggggggg
                </div>

            </div>

            <div id="recently-added-series" class="left-elements">

                <div id="recently-added-series-header" class="all-headers">
                    <h2 id="recently-added-series-nav" class="header-nav">
                        <span>RECENTLY ADDED SERIES</span>
                    </h2>
                </div>
                <div id="recently-added-series-content" class="border-bottom border-start border-end">
                    Recently Added Series
                    dfg;kdfkhgmdfkmgdsf
                    gnfgkldfnhlkdflhkndf
                    hdglnhkdfjsdgggggggdfg;kdfkhgmdfkmgdsf
                    gnfgkldfnhlkdflhkndf
                    hdglnhkdfjsdggggggg
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                    d
                </div>

            </div>

        </section>


        <section class="right-side-panels">


            <div id="advertisement-box">

                <div id="advertisement-box-header" class="all-headers">
                    <h2 id="advertisement-box-nav" class="header-nav">
                        <span>ADVERTISEMENT</span>
                    </h2>
                </div>
                <div id="advertisement-box-content" class="border-bottom border-start border-end">
                    Advertisement Content
                </div>

            </div>

            <div id="top-rated-episodes">

                <div id="top-rated-episodes-header" class="all-headers">
                    <h2 id="top-rated-episodes-nav" class="header-nav">
                        <span>TOP RATED EPISODES</span>
                    </h2>
                </div>
                <div id="top-rated-episodes-content" class="border-bottom border-start border-end">
                    Top Rated Episodes Content
                </div>

            </div>

            <div id="ongoing-series">

                <div id="ongoing-series-header" class="all-headers">
                    <h2 id="ongoing-series-nav" class="header-nav">
                        <span>ONGOING SERIES</span>
                    </h2>
                </div>
                <div id="ongoing-series-content" class="border-bottom border-start border-end">
                    Ongoing Series Content
                </div>

            </div>

            <div id="genres">

                <div id="genres-header" class="all-headers">
                    <h2 id="genres-nav" class="header-nav">
                        <span>GENRES</span>
                    </h2>
                </div>
                <div id="genres-content" class="border-bottom border-start border-end">
                    Genres Content
                </div>

            </div>

            <div id="recent-seasons">

                <div id="recent-seasons-header" class="all-headers">
                    <h2 id="recent-seasons-nav" class="header-nav">
                        <span>SEASON</span>
                    </h2>
                </div>
                <div id="recent-seasons-content" class="border-bottom border-start border-end" style="padding: 10px 0;">
                    <nav id="seasons-navbar">
                        Anime Seasons Nav
                    </nav>
                </div>

            </div>


        </section>

    </section>

{% endblock %}
