{% extends "website/base.html" %}
{% load static %}
{% load website_extras %}

{% block head %}

    {{ block.super }}

    <title>Watch {{ current_episode.anime.name }} {{ current_episode.name }} English {{ current_episode.anime.lang.lang }}bed at Gogoanime</title>
    <style>
        html, body {
         font-size: 13px;
         font-family: myFirstFont, MyFont_IE, Tahoma, Geneva, sans-serif !important;
        }
        #page-layout {
            float: left;
            width: 100%;
        }
        #page-layout, .left-side, .right-side {
            background-color: #1b1b1b;
        }
        .left-side {
            float:left;
            width: 728px;
            padding-left: 30px;
            padding-top: 10px;
            padding-right: 20px;
        }
        .right-side {
            float: right;
            width: 340px;
            padding-right: 30px;
            padding-top: 10px;
        }
        .all-headers {
            background-color: #ffc119;
            height: 40px;
            position: relative;
        }
        .header-nav {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            font-size: 14px;
            text-transform: uppercase;
        }
        .separator {
            margin-bottom: 26px;
        }
        #media-player-content {
            padding: 20px;
        }
        .heading-info {
            font-size: 14px;
            color: #ffc119;
            padding: 0;
            margin: 0;
        }
        .info-category {
            color: #fff;
            font-size: 12px;
        }
        .info a {
            text-decoration: none;
            color: #ffc119;
            font-size: 12px;
            padding-top: 5px;
        }
        .info {
            margin: 0;
        }
        #anime-category {
            padding-top: 5px;
        }
        #anime-info {
            padding-top: 5px;
            padding-bottom: 2px;
        }
        #anime-watch-note {
            position: relative;
            text-align: center;
            font-size: 12px;
            color: #ffc119;
        }
        a:hover {
            color: #fff !important;
        }
        #episode-navigation a {
            text-decoration: none;
            color: #ffc119;
        }
        #episode-navigation {
            float: left;
            width: 100%;
        }
        #episode-navigation-l {
            float: left;
            width: 50%;
            text-align: left;
            font-size: 12px;
        }
        #episode-navigation-r {
            float: right;
            width: 50%;
            text-align: right;
            font-size: 12px;
        }
        ul#related-episodes li {
            position: relative;
            list-style: none;
            float: left;
            margin: 5px 0;
            margin-left: 1.5%;
            width: 13%;
        }
        ul#related-episodes li:nth-child(7n+1) {
            margin-left: 0;
        }
        #related-episodes-content {
            padding: 20px;
            display: block;
            overflow: hidden;
        }
        ul#related-episodes li a {
            color: #fff;
            display: block;
            background-color: #363636;
            width: 100%;
            float: left;
            padding: 0 8px;
        }
        ul#related-episodes li a div.name {
            float: left;
            padding: 8px 0;
            width: 60%;
            font-size: 11px;
        }
        ul#related-episodes li a div.divider {
            background-image: url({% static 'website/viel.png' %});
            background-repeat: no-repeat;
            background-position: center center;
            width: 1px;
            height: 30px;
            float: left;
        }
        ul#related-episodes li a div.type {
            float: right;
            color: #737373;
            padding: 8px 0;
            font-size: 11px;
        }
        #related-episodes .lang {
            float: right;
            color: #737373;
            padding: 8px 0;
            font-size: 11px;
        }
    </style>

{% endblock %}

{% block body %}

    <section id="page-layout">

            <section class="left-side">

                <div id="media-player-box" class="separator">

                    <div id="media-player-header" class="all-headers">
                        <h2 id="media-player-nav" class="header-nav">
                            <span>Anime Name</span>
                        </h2>
                    </div>
                    <div id="media-player-content" class="border-bottom border-start border-end">
                        <div style="margin-right: 20px;">
                            <h1 class="heading-info">{{ current_episode.anime.name }} {{ current_episode.name }} English {{ current_episode.anime.lang.lang }}bed at Gogoanime</h1>
                            <p id="anime-category" class="info"><span class="info-category">Category: </span><a href="/sub-category/{% namebuilder current_episode.anime.type.type %}">{{ current_episode.anime.type.type }}</a></p>
                            <p id="anime-info" class="info"><span class="info-category">Anime Info: </span><a href="/category/{{ current_episode.anime.name_slug }}">{{ current_episode.anime.name }}</a></p>
                        </div>
                        <div id="anime-watch-note">
                            Please,
                            <a id="reload-button" onclick="window.location.reload();" href="javascript:void(0)" style="color: #00a651; text-decoration: none;">reload page</a>
                             if you can't watch the video
                        </div>
                        <div id="anime-watch-screen">

                            <iframe style="margin: 20px 0;" width="100%" height="500" src="https://drive.google.com/file/d/1mw9w3uelSo3A2UdQskY5uqeJnnyvJgqv/preview" title="Anime Episode" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                        </div>

                        <div id="episode-navigation">
                            <div id="episode-navigation-l">
                                {% if prev_episode %}
                                    <a href="/{% episodebuilder prev_episode.anime.name_slug prev_episode.name %}"> << {{ prev_episode.anime.name }} {{ prev_episode.name }} </a>
                                {% endif %}
                            </div>
                            <div id="episode-navigation-r">
                                {% if next_episode %}
                                    <a href="/{% episodebuilder next_episode.anime.name_slug next_episode.name %}"> {{ next_episode.anime.name }} {{ next_episode.name }} >> </a>
                                {% endif %}
                            </div>
                        </div>

                        <div id="aesthetic_padding" style="padding: 10px;"></div>

                    </div>

                </div>



                <div id="related-episodes-box" class="separator">

                    <div id="related-episodes-header" class="all-headers">
                        <h2 id="related-episodes-nav" class="header-nav">
                            Related Episodes
                        </h2>
                    </div>

                    <div style="clear: both;"></div>

                    <div id="related-episodes-content" class="border-bottom border-start border-end">
                        <div id="load-eps" style="position: relative; right: 10px; padding: 0 20px 20px 20px; overflow: hidden;">
                            <ul id="related-episodes">
                                {% for episode in related_episodes %}
                                    <li>
                                        <a href="/{% episodebuilder episode.anime.name_slug episode.name %}">
                                            <div class="name"> EP {{ episode.name|split }} </div>
                                            <div class="lang"> {{ episode.anime.lang.lang }} </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>


            </section>




            <section class="right-side">

                <div id="advertisement-box" class="separator" style="margin-left: 15px;">

                    <div id="advertisement-box-header" class="all-headers" style="width: 300px;">
                        <h2 id="advertisement-box-nav" class="header-nav">
                            <span>ADVERTISEMENT</span>
                        </h2>
                    </div>
                    <div id="advertisement-box-content" class="border-bottom border-start border-end" style="width: 300px; height: 250px;">
                        <img src="{% static 'website/ad-banner.jpg' %}" alt="Ad Banner" width="300px" height="250px">
                    </div>

                </div>

                <div id="recent-release-box" class="separator" style="margin-left: 15px;">
                    <div id="recent-release-header" class="all-headers" style="width: 300px;">
                        <h2 id="recent-release-nav" class="header-nav">
                            <span>Recent Release</span>
                        </h2>
                    </div>
                    <div id="recent-release-content" class="border-bottom border-start border-end" style="width: 300px;">
                        Recent Release Content
                    </div>
                </div>

                <div id="recent-seasons-box" class="separator" style="margin-left: 15px;">

                    <div id="recent-seasons-header" class="all-headers" style="width: 300px;">
                        <h2 id="recent-seasons-nav" class="header-nav">
                            <span>SEASON</span>
                        </h2>
                    </div>
                    <div id="recent-seasons-content" class="border-bottom border-start border-end" style="padding: 10px 0; width: 300px;">
                        <nav id="seasons-navbar">
                            Anime Seasons Nav
                        </nav>
                    </div>

                </div>

            </section>

    </section>

{% endblock %}
